@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide number input spin buttons in Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide number input spin buttons in Firefox */
.no-spinner {
    -moz-appearance: textfield;
}
